.board {
	fill:orange;
}
.lhs {
	fill:red;
}
.lhs.select{
	fill:blue;
}
.result{
	fill:orange;
}
.result.select{
	fill:black;
}
.rhs {
	fill:red;
}
.rhs.select{
	fill:blue;
}
.select {
	fill:black;
}