$backBlue: #000040;
$lineWhite: #ffffff;
$unselect: #0000a0;
$darkLine: lighten($unselect, 5%);
$select: blue;
$selectBright: lighten(blue, 25%);

@mixin vendor-prefix($name, $argument) {
  #{$name}: $argument;
  -moz-#{$name}: $argument;
  -webkit-#{$name}: $argument;
  -o-#{$name}: $argument;
  -ms-#{$name}: $argument;
}
text {
  font-weight:bold;
}

#gameBoard {
	fill: rgba($backBlue, 0);
	stroke: $darkLine;
  > g > text {
    fill: $darkLine;
    stroke: none;
  }
  > g.select > text {
    fill: $selectBright;
    stroke: none;
  }
}
#gameResult{
	fill: $unselect;
	> .select {
		@include vendor-prefix(animation-name, glowBright);
		fill: $selectBright;
	}
  > g > text {
    fill: $selectBright;
    stroke: none;
  }
  > g.select > text {
    fill: white;
    stroke: none;
  }
}
#gameGoal{
	@extend #gameResult;
}
#gameLhs{
	@extend #gameResult;
	stroke: $lineWhite;
	stroke-width: 2;
}
#gameRhs{
	@extend #gameLhs;
}
svg{
	background: $backBlue;
}

.select{
	//in case animation isn't supported
	fill: $select;
	//animation
	@include vendor-prefix(animation-name, glow);
	@include vendor-prefix(animation-duration, 5s);
	@include vendor-prefix(animation-iteration-count, infinite);
	@include vendor-prefix(animation-direction, alternate);
}

$rows: 10;
$rowDelayDelta: 0.03;
$transitionTime: 0.2s;
@for $i from 0 through $rows {
	.row#{$i} {
		$delay: 1s * $i * $rowDelayDelta;
		@include vendor-prefix(transition, $transitionTime);
		@include vendor-prefix(animation-delay, $delay);
		@include vendor-prefix(transition-delay, $delay);
    > text {
      @include vendor-prefix(transition, $transitionTime);
      @include vendor-prefix(animation-delay, $delay);
      @include vendor-prefix(transition-delay, $delay);
    }
	}
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@include keyframes(glowBright) {
  0% { fill:$selectBright; }
  7% { fill:darken($selectBright, 5%); }
  20% { fill:darken($selectBright, 1%); }
  50% { fill:darken($selectBright, 10%); }
  80% { fill:$selectBright; }
  80% { fill:darken($selectBright, 5%); }
}

@include keyframes(glow) {
  0% { fill:$select; }
  7% { fill:darken($select, 5%); }
  20% { fill:darken($select, 1%); }
  50% { fill:darken($select, 10%); }
  80% { fill:$select; }
  80% { fill:darken($select, 5%); }
}